body{
  font-family: Arial;
}

.title-css{
  margin-top: 20px;
  margin-left: 8px;
  font-weight: bold;
  font-size: 30px
}

.display-grid, .input-grid{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  margin-bottom: 10px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  margin-left: 10px;
}

.input-grid{
  margin-bottom: 15px;
  align-items: stretch;
}

.delete-button{
  background-color: red;
  color: white;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer; 
}

.add-button{
  color: white;
  background-color: rgb(40, 184, 40);
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.input-text, .input-date{
  padding: 5px;
  font-size: 15px;
}